[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "foleys_gui_magic"]
	path = modules/foleys_gui_magic
	url = git@github.com:josmithiii/foleys_gui_magic.git
